.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px 20px 20px;
   background: transparent;
}
.nav-item  li,a {
   text-decoration: none;
   font-family: "Cascadia Code", monospace;
   color: #1C274C;
}
.nav-item a:hover {
   color: red;
}

.logo {
   margin-right: 100px;
}

.nav-item{
   list-style: none;
   display: inline;
   padding: 10px 20px;
}

.navbar ul{
   margin: auto;
   width: auto;
   display: flex;
}
.navbar ul li{

}

